.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;

    input {
        padding: 12px 8px;
        height: 42px;
        margin-top: 20px;
        margin-right: 20px;
    }

    .search-movie {
        position: absolute;
        // background-color: black;
        top: 88px;
        height: 200px;
        overflow: scroll;
        width: 20%;
        padding: 20px;
        right: 0;

        img {
            width: 100%;
            object-fit: contain;
        }
    }
}